<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<main class="main" style="display: flex; flex-direction: column;">
  <!-- <h1 class="">{{title}}</h1>
  @if(tasks.length >= 1){
    <ul>
      <li *ngFor="let task of tasks">
        <p> {{task.name}}</p>
      </li>
    </ul>
  }@else{
    <ul>
      <li>
        <p> pas de tasks </p>
      </li>
    </ul>
  } -->
  <div style="position: absolute; display: flex;">
    <img src="{{voiture.imgLink}}" [ngStyle]="{width : voiture.Width+'px',height : voiture.Height+'px'}" />
  </div>
  <mat-slider min="100" max="1000" step="5">
    <input matSliderThumb [(value)]="voiture.Width" (valueChange)="voiture.Height = voiture.Width" ngModel="voiture">
  </mat-slider>
  
  <!-- <p> {{ date2 | date}}</p> -->
  <!-- <p> {{dateDiff | date:'yyyy'}}</p> -->
</main>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
